[workspace]
resolver = "2"
members = [
	"conmon-rs/common",
	"conmon-rs/client",
	"conmon-rs/server",
]

[profile.release]
debug = 0
lto = true
opt-level = "z"
incremental = true
codegen-units = 1
panic = "abort"
strip = true
