[workspace]
resolver = "2"
members = [
	"conmon-rs/common",
	"conmon-rs/client",
	"conmon-rs/server",
]

[workspace.lints.clippy]
needless_return = "allow"

[profile.release]
debug = 0
lto = true
opt-level = "z"
codegen-units = 1
panic = "abort"
strip = true
