[package]
name = "conmon-server"
version = "0.1.0"
edition = "2018"

[[bin]]
name = "conmon-server"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.51"
capnp = "0.14.4"
capnp-rpc = "0.14.1"
chrono = "0.4.19"
conmon-common = { path = "../common" }
clap = { git = "https://github.com/clap-rs/clap", features = ["wrap_help"] }
futures = "0.3.18"
getset = "0.1.2"
log = { version = "0.4.14", features = ["serde", "std"] }
serde = { version = "1.0.131", features = ["derive"] }
simple_logger = "1.15.0"
tokio = { version = "1.14.0", features = ["fs", "io-std", "io-util", "macros", "net", "process", "rt", "rt-multi-thread", "signal", "time"] }
tokio-util = { version = "0.6.9", features = ["compat"] }
nix = "0.23.0"
libc = "0.2.111"
memchr = "2.4.1"
tempfile = "3.2.0"
sendfd = { version = "0.4.0", features = ["tokio"] }
prctl = "1.0.0"
strum = { version = "0.23.0", features = ["derive"] }
systemd-journal-logger = "0.4.1"

[dev-dependencies]
mockall = "0.10.2"
