[package]
name = "conmonrs"
version = "0.6.1"
edition = "2021"

[[bin]]
name = "conmonrs"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.81"
capnp = "0.19.3"
capnp-rpc = "0.19.0"
clap = { version = "4.3.8", features = ["color", "cargo", "deprecated", "derive", "deprecated", "env", "string", "unicode", "wrap_help"] }
command-fds = { version = "0.3.0", features = ["tokio"] }
conmon-common = { path = "../common" }
futures = "0.3.30"
getset = "0.1.2"
lazy_static = "1.4.0"
libc = "0.2.153"
libsystemd = "0.7.0"
memchr = "2.7.2"
multimap = "0.10.0"
nix = { version = "0.28.0", features = ["fs", "hostname", "mount", "sched", "signal", "socket", "term", "user"] }
notify = "6.1.1"
once_cell = "1.19.0"
opentelemetry = "0.22.0"
opentelemetry_sdk = { version = "0.22.1", features = ["rt-tokio"] }
opentelemetry-otlp = "0.15.0"
opentelemetry-semantic-conventions = "0.14.0"
prctl = "1.0.0"
regex = "1.10.4"
sendfd = { version = "0.4.3", features = ["tokio"] }
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.115"
shadow-rs = "0.27.1"
signal-hook = "0.3.17"
strum = { version = "0.26.2", features = ["derive"] }
tempfile = "3.10.1"
tokio = { version = "1.37.0", features = ["fs", "io-std", "io-util", "macros", "net", "process", "rt", "rt-multi-thread", "signal", "time"] }
tokio-eventfd = "0.2.1"
tokio-seqpacket = "0.7.1"
tokio-util = { version = "0.7.10", features = ["compat"] }
tracing = "0.1.40"
tracing-opentelemetry = "0.23.0"
tracing-subscriber = "0.3.18"
tz-rs = "0.6.14"
uuid = { version = "1.8.0", features = ["v4", "fast-rng", "macro-diagnostics"] }

[build-dependencies]
shadow-rs = "0.27.1"
dashmap = "5.5.3"

[dev-dependencies]
mockall = "0.12.1"
time = { version = "0.3.34", features = ["parsing"] }
