[package]
name = "conmonrs"
version = "0.5.1"
edition = "2021"

[[bin]]
name = "conmonrs"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.75"
capnp = "0.17.2"
capnp-rpc = "0.17.0"
clap = { version = "4.3.8", features = ["color", "cargo", "deprecated", "derive", "deprecated", "env", "string", "unicode", "wrap_help"] }
command-fds = { version = "0.2.2", features = ["tokio"] }
conmon-common = { path = "../common" }
futures = "0.3.28"
getset = "0.1.2"
lazy_static = "1.4.0"
libc = "0.2.147"
libsystemd = "0.6.0"
memchr = "2.6.0"
multimap = "0.9.0"
nix = "0.26.2"
notify = "6.1.1"
once_cell = "1.18.0"
opentelemetry = { version = "0.20.0", features = ["rt-tokio"] }
opentelemetry-otlp = "0.13.0"
opentelemetry-semantic-conventions = "0.12.0"
prctl = "1.0.0"
regex = "1.9.4"
sendfd = { version = "0.4.3", features = ["tokio"] }
serde = { version = "1.0.188", features = ["derive"] }
shadow-rs = "0.23.0"
signal-hook = "0.3.17"
strum = { version = "0.25.0", features = ["derive"] }
tempfile = "3.8.0"
tokio = { version = "1.32.0", features = ["fs", "io-std", "io-util", "macros", "net", "process", "rt", "rt-multi-thread", "signal", "time"] }
tokio-eventfd = "0.2.1"
tokio-seqpacket = "0.7.0"
tokio-util = { version = "0.7.8", features = ["compat"] }
tracing = "0.1.37"
tracing-opentelemetry = "0.21.0"
tracing-subscriber = "0.3.17"
tz-rs = "0.6.14"
uuid = { version = "1.4.1", features = ["v4", "fast-rng", "macro-diagnostics"] }

[build-dependencies]
shadow-rs = "0.23.0"
dashmap = "5.5.2"

[dev-dependencies]
mockall = "0.11.4"
time = { version = "0.3.28", features = ["parsing"] }
