[package]
name = "conmonrs"
version = "0.6.6"
edition = "2021"

[[bin]]
name = "conmonrs"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.89"
capnp = "0.19.7"
capnp-rpc = "0.19.5"
clap = { version = "4.3.24", features = ["color", "cargo", "deprecated", "derive", "deprecated", "env", "string", "unicode", "wrap_help"] }
command-fds = { version = "0.3.0", features = ["tokio"] }
conmon-common = { path = "../common" }
futures = "0.3.31"
getset = "0.1.3"
lazy_static = "1.5.0"
libc = "0.2.159"
libsystemd = "0.7.0"
memchr = "2.7.4"
multimap = "0.10.0"
nix = { version = "0.27.1", features = ["fs", "hostname", "mount", "sched", "signal", "socket", "term", "user"] }
notify = "6.1.1"
once_cell = "1.20.2"
opentelemetry = "0.23.0"
opentelemetry_sdk = { version = "0.23.0", features = ["rt-tokio"] }
opentelemetry-otlp = "0.16.0"
opentelemetry-semantic-conventions = "0.15.0"
prctl = "1.0.0"
regex = "1.11.0"
sendfd = { version = "0.4.3", features = ["tokio"] }
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
shadow-rs = "0.31.1"
signal-hook = "0.3.17"
strum = { version = "0.26.3", features = ["derive"] }
tempfile = "3.13.0"
tokio = { version = "1.38.1", features = ["fs", "io-std", "io-util", "macros", "net", "process", "rt", "rt-multi-thread", "signal", "time"] }
tokio-eventfd = "0.2.1"
tokio-seqpacket = "0.7.1"
tokio-util = { version = "0.7.11", features = ["compat"] }
tracing = "0.1.40"
tracing-opentelemetry = "0.24.0"
tracing-subscriber = "0.3.18"
tz-rs = "0.6.14"
uuid = { version = "1.10.0", features = ["v4", "fast-rng", "macro-diagnostics"] }

[build-dependencies]
shadow-rs = "0.31.1"
dashmap = "6.1.0"

[dev-dependencies]
mockall = "0.13.0"
time = { version = "0.3.23", features = ["parsing"] }
