[package]
name = "conmonrs"
version = "0.5.1"
edition = "2021"

[[bin]]
name = "conmonrs"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.70"
capnp = "0.16.1"
capnp-rpc = "0.16.2"
clap = { version = "4.2.1", features = ["color", "cargo", "deprecated", "derive", "deprecated", "env", "string", "unicode", "wrap_help"] }
conmon-common = { path = "../common" }
futures = "0.3.28"
getset = "0.1.2"
lazy_static = "1.4.0"
libc = "0.2.141"
libsystemd = "0.6.0"
memchr = "2.5.0"
multimap = "0.9.0"
nix = "0.26.2"
notify = "5.1.0"
once_cell = "1.17.1"
opentelemetry = { version = "0.18.0", features = ["rt-tokio"] }
opentelemetry-otlp = "0.11.0"
opentelemetry-semantic-conventions = "0.10.0"
prctl = "1.0.0"
regex = "1.7.3"
sendfd = { version = "0.4.3", features = ["tokio"] }
serde = { version = "1.0.160", features = ["derive"] }
serde_json = "1.0.95"
shadow-rs = "=0.21.0"
signal-hook = "0.3.15"
strum = { version = "0.24.1", features = ["derive"] }
tempfile = "3.5.0"
tokio = { version = "1.27.0", features = ["fs", "io-std", "io-util", "macros", "net", "process", "rt", "rt-multi-thread", "signal", "time"] }
tokio-eventfd = "0.2.0"
tokio-fd = "0.3.0"
tokio-util = { version = "0.7.7", features = ["compat"] }
tracing = "0.1.37"
tracing-opentelemetry = "0.18.0"
tracing-subscriber = "0.3.16"
tz-rs = "0.6.14"
uuid = { version = "1.3.1", features = ["v4", "fast-rng", "macro-diagnostics"] }

[build-dependencies]
shadow-rs = "=0.21.0"
dashmap = "=5.4.0"

[dev-dependencies]
mockall = "0.11.4"
time = { version = "=0.3.20", features = ["parsing"] }
