[package]
name = "conmonrs"
version = "0.4.0"
edition = "2018"

[[bin]]
name = "conmonrs"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.66"
capnp = "0.14.10"
capnp-rpc = "0.14.1"
clap = { version = "3.2.22", features = ["cargo", "derive", "deprecated", "env", "wrap_help"] }
conmon-common = { path = "../common" }
futures = "0.3.25"
getset = "0.1.2"
lazy_static = "1.4.0"
libc = "0.2.138"
libsystemd = "0.5.0"
memchr = "2.5.0"
multimap = "0.8.3"
nix = "0.26.1"
notify = "5.0.0"
opentelemetry = { version = "0.18.0", features = ["rt-tokio"] }
opentelemetry-otlp = "0.11.0"
opentelemetry-semantic-conventions = "0.10.0"
prctl = "1.0.0"
regex = "1.7.0"
sendfd = { version = "0.4.3", features = ["tokio"] }
serde = { version = "1.0.149", features = ["derive"] }
serde_json = "1.0.89"
shadow-rs = "=0.19.0"
strum = { version = "0.24.1", features = ["derive"] }
tempfile = "3.3.0"
tokio = { version = "1.23.0", features = ["fs", "io-std", "io-util", "macros", "net", "process", "rt", "rt-multi-thread", "signal", "time"] }
tokio-eventfd = "0.2.0"
tokio-fd = "0.3.0"
tokio-util = { version = "0.7.4", features = ["compat"] }
tracing = "0.1.37"
tracing-opentelemetry = "0.18.0"
tracing-subscriber = "0.3.16"
tz-rs = "0.6.14"
uuid = { version = "1.2.2", features = ["v4", "fast-rng", "macro-diagnostics"] }

[build-dependencies]
shadow-rs = "=0.19.0"
dashmap = "=5.2.0"

[dev-dependencies]
mockall = "0.11.3"
time = { version = "=0.3.13", features = ["parsing"] }
