name: cross
on:
  pull_request: {}
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  CARGO_TERM_COLOR: always
  TRIPLE: unknown-linux-gnu
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arch:
          - x86_64
          - i686
          - aarch64
          - powerpc64le
          - s390x
    name: ${{matrix.arch}}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Cache
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cross-${{matrix.arch}}-${{ hashFiles('**/Cargo.lock') }}
      - name: Install cross-rs
        run: |
          cargo install cross --git https://github.com/cross-rs/cross
          cross --version
      - name: Ensure the latest base image
        run: docker pull ghcr.io/cross-rs/${{matrix.arch}}-$TRIPLE:main
      - name: Build for ${{matrix.arch}}
        run: cross build -v --target ${{matrix.arch}}-$TRIPLE
