name: Create Release

on:
  push:
    tags:
      - "*"

env:
  CARGO_TERM_COLOR: always
  GO_VERSION: "1.23"
  ACTION_MSRV_TOOLCHAIN: 1.87.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get branch names
        id: branch-name
        uses: tj-actions/branch-names@dde14ac574a8b9b1cedc59a1cf312788af43d8d8 # v8.2.1
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup Cache
        uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4.2.0
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - run: .github/install-deps
      - name: Select Toolchain
        uses: dtolnay/rust-toolchain@a54c7afa936fefeb4456b2dd8068152669aa8203
        with:
          toolchain: ${{ env['ACTION_MSRV_TOOLCHAIN'] }}
          components: rustfmt
      - name: Build
        run: cargo build
      - name: Create Release Packaging
        run: make create-release-packages
        env:
          CI_TAG: ${{ steps.branch-name.outputs.tag }}
      - name: Release
        uses: softprops/action-gh-release@7b4da11513bf3f43f9999e90eabced41ab8bb048 # v2.2.0
        with:
          files: "*.tar.gz"
